body {
    margin: 0;
}

#clock-container {
    background-color: rgb(219, 218, 218);
    justify-content: center;
    display: flex;
    align-items: center;
    line-height: 20;
}

#clock {
    font-family: monospace;
    font-size: 46px;
}