.body {
  margin: 0;
justify-content: center;

}

#clock-container {
    margin: 0 auto;
   height: 100vh;
   background-color: rgb(221, 219, 217);
   border-radius: 5px;
   width: 50%;
}

#clock {
    text-align: center;
    font-family: monospace;
    font-size: 49px;
    font-weight: bold;
   
}